@use 'src/styles/vars' as vars;

 /* == LARGE SCREENS == */ 
  @media (min-width: 1281px) { 
  .about {
    padding-top: 3%;
  }
  
  .about__container-all{
    max-width: 1281px;
  }

  .about__container--experiences-text{
    line-height: 28px;
  }

  .about__container--avatar{
    height: 70vh;
    width: 38vh;
  
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 100px;
  }
  
} 
