@use 'src/styles/vars' as vars;
  
  /* == LAPTOPS & DESKTOPS == */ 
  @media (min-width: 1025px) and (max-width: 1280px){ 
    .about{
      padding-top: 3%;
      padding-left: 10%;
      padding-right: 5%;
      //background-color: #fff;
    }

    .about__container-all{
      min-width: 1025px;
      max-width: 1280px;
    }

    .about__container--experiences-text{
      line-height: 22px;
      font-size: medium;
    }
} 
