@use 'src/styles/vars' as vars;

.welcome {
  font-family: 'Comfortaa', cursive;
  background-color: #B24592;
  height: 100vh;
  margin-left: 80px;
  background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

