@use 'src/styles/vars' as vars;

.welcome {
  height: 100vh;
}

.welcome__container {
  text-align: center;
  letter-spacing: .2em;
  padding: 10px;
  line-height: 50px;
  font-size: 20px;
}


// FIRST SECTION //

.welcome__container__sectionFirst {
  position: relative;
  padding: 0 24px 60px;
  display: flex;
  flex-direction: column;
  background: vars.$bg-primary;
  height: 900px;

}

.welcome__container__sectionFirst--title {
  font-size: 2rem;
  font-weight: 900;
  margin: 10px 0;
  color: vars.$text-secondary;
  text-align: center;
}


// SECOND SECTION //

.welcome__container__sectionSecond {
  background: vars.$bg-secondary;
  height: 100px;
  padding: 60px 24px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: #fff;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: 600px;
    width: 100px;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  .inner {
    position: relative;
  }
}

.section2__title {
  padding-top: 30px;
  margin: 10px ;
  font-size: 20px;
  font-weight: bold;

  text-transform: uppercase;
}


.allrightsreserved {
  padding-top: 300px;
  font-style: oblique;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .welcome__container {
    display: inline;
    justify-content: center;
    text-align: center;
    width: 22rem;
  }

  .welcome__container__sectionFirst {
    position: relative;
    height: 900px;
  }

  .welcome__container__sectionSecond {
    background: vars.$bg-secondary;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 50px;
    padding: 60px 24px;
    position: relative;
  }

  .allrightsreserved {
    padding-top: 50px;
    padding-bottom: 25px;
    font-style: oblique;
    font-size: 15px;
    letter-spacing: normal;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {
  
}
