@use 'src/styles/vars' as vars;

/* == TABLETS IPADS PORTRAIT MODE == */ 
 @media (min-width: 768px) and (max-width: 1024px){ 
  .contact__container {
    min-width: 768px;
    max-width: 1024px;
    height: 80vh;
    width: 65vh;
    margin-top: 10%;
  }
  
  .contact__container__description{
    width: 32vh;
    margin-top: 10%;
    min-height: 36%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact__container__description--img{
    height: 50vh;
    margin-left: 10%;
    margin-top: -20%;
  }
  
  .contact__container__description--emailPhoneLogos{
    padding-top: 150%;
  }
  
  .contact-icon{
    margin-right: 10px;
  }
  
  .envelope{
    display: none;
  }
} 
