@use 'src/styles/vars' as vars;

/* == LARGE SCREENS == */ 
  @media (min-width: 1281px) { 
    .contact__container {
      max-width: 1281px;
      height: 80vh;
      width: 150vh;
      margin-top: 4%;
    }
    
    .contact__container__description{
      width: 150vh;
      margin-top: 8%;
      min-height: 50%;
    }
    
    .contact__container__description--img{
      height: 55vh;
      justify-content: center;
    }
    
    .contact__container__description--emailPhoneLogos{
      margin-top: 1.2em;
      font-size: 1.5em;
      padding-bottom: 15%;
    }    
    
    .right{
      margin-left: 31.2%;
    }
} 
