@use 'src/styles/vars' as vars;

.contact {
  background: vars.$bg-primary;
  height: 100vh;
  color: #fff;
  overflow: hidden; /* Hide scrollbars */
}

.contact__container {
  //background-color: yellow;
  height: 80vh;
  width: 150vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-sizing: border-box;
}

.contact__container--title{
  //background-color: blue;
  width: 20em;
  font-size: 2rem;
  font-weight: 900;
  color: #ececec;
  text-transform: uppercase;
}

.contact__container__description{
 // background-color: red;
  height: 65vh;
  width: 150vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.contact__container__description--img{
  background-color: #fff;
  height: 60vh;
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.contact__container__description--emailPhoneLogos{
 // background-color: green;
  text-align: center;
  margin-top: 1.2em;
  font-size: 1.5em;
  line-height: 35px;
}

.contact__container__description--logos{
  margin-top: 20px;
}

.contact-icon{
  margin-right: 10px;
}

.contact-link {
  margin: 10px;
}

.img2{
  visibility: hidden;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .contact {

   background-color: salmon;

   display: inline;
   justify-content: center;
   text-align: center;
  }

  .contact__container {
    background-color: palegoldenrod;
    position: relative;
    height: 500px;
    width: 300px;
  }

  .contact__container--title{
    margin: 10px;
  }

  .img2{
    height: 500px;
    width: 800px;

  }
 


}
