@use 'src/styles/vars' as vars;

/* == LARGE SCREENS == */ 
  @media (min-width: 1281px) { 
    .contact { 
        //background-color: white; 
        background: vars.$bg-primary;
        height: 100vh;
        color: #fff;
        /* Hide scrollbars */
        overflow: hidden; 
        box-sizing: border-box;
    }
    
    .contact__container {
      height: 80vh;
      width: 150vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4%;
      box-sizing: border-box;
      font-family: 'Bebas Neue', cursive;
      font-size: 20px;
    }
    
    .contact__container__description{
      width: 150vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8%;
      min-height: 50%;
      position: relative;
      background: linear-gradient(45deg, #e6a336, #790974,  #6649b8);
      border-radius: 20em;
    }
    
    .contact__container__description--img{
      height: 55vh;
      justify-content: center;
    }
    
    .contact__container__description--emailPhoneLogos{
      text-align: center;
      margin-top: 1.2em;
      font-size: 1.5em;
      line-height: 35px;
      padding-bottom: 15%;
      color: vars.$text-secondary;
      
    }
    
    
    .contact-icon{
      margin-right: 15px;
    }
    
    
    .right{
      margin-left: 30%;
    }
} 
