@use 'src/styles/vars' as vars;

/* == MOBILE DEVICES == */ 
    @media (max-width: 480px) { 
      .contact { 
        height: 110vh;
        padding-top: 0.1%;
        overflow: visible; 
      }
      .contact__container {
        max-width: 480px;
        height: 80vh;
        width: 65vh;
        margin-top: 10%;
      }
    
        .contact__container--title{
        margin-left: 40px;
      }
      
      .contact__container__description{
        width: 32vh;
        margin-left: auto;
        margin-top: 15%;
        min-height: 36%;
        margin-right: 22%;
      }
      
      .contact__container__description--img{
        height: 40vh;
        margin-left: 3%;
        margin-top: -60%;
      }
      
      .contact__container__description--emailPhoneLogos{
        padding-top: 230%;
      }
      
      .envelope{
        display: none;
      }
    } 
        