@use 'src/styles/vars' as vars;

/* == LAPTOPS & DESKTOPS == */ 
 @media (min-width: 1025px) and (max-width: 1280px){ 
  .contact { 
    //background-color: green; 
}

.contact__container {
  max-width: 1280px;
  min-width: 1025px;
  height: 80vh;
  width: 80vh;
  margin-top: 5%;
}

.contact__container__description{
  margin-top: 15%;
  min-height: 37%;
}

.contact__container__description--img{
  height: 40vh;
  margin-left: 20%;
}

.contact__container__description--emailPhoneLogos{
  margin-top: 0.5em;
  padding-bottom: 20%;
}


.right{
  margin-left: 42%;
}

.envelope{
  display: none;
}
} 
