@use 'src/styles/vars' as vars;

  .contact__container--title{
    margin-right: auto;
    text-transform: uppercase;
    color: vars.$text-secondary;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 1.7%;
  }

.contact__container__description--logos{
  position: relative;
  margin-top: 30%;
}

.split{
  height: 100%;
  width: 35%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

  /* == LARGE SCREENS == */ 
  @media (min-width: 1281px) { 
    .contact { 
        //background-color: white; 
        background: vars.$bg-primary;
        height: 100vh;
        color: #fff;
        /* Hide scrollbars */
        overflow: hidden; 
        box-sizing: border-box;
    }
    
    .contact__container {
      height: 80vh;
      width: 150vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4%;
      box-sizing: border-box;
      font-family: 'Bebas Neue', cursive;
      font-size: 20px;
    }
    
    .contact__container__description{
      width: 150vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8%;
      min-height: 50%;
      position: relative;
      background: linear-gradient(45deg, #e6a336, #790974,  #6649b8);
      border-radius: 20em;
    }
    
    .contact__container__description--img{
      height: 55vh;
      justify-content: center;
    }
    
    .contact__container__description--emailPhoneLogos{
      text-align: center;
      margin-top: 1.2em;
      font-size: 1.5em;
      line-height: 35px;
      padding-bottom: 15%;
      color: vars.$text-secondary;
      
    }
    
    
    .contact-icon{
      margin-right: 15px;
    }
    
    
    .right{
      margin-left: 30%;
    }
} 

/* -------------------------------------------------------------- */

  /* == LAPTOPS & DESKTOPS == */ 
  @media (min-width: 1025px) and (max-width: 1280px){ 
    .contact { 
      background-color: green; 
      //background: vars.$bg-primary;
      height: 100vh;
      color: #fff;
      /* Hide scrollbars */
      overflow: hidden; 
      box-sizing: border-box;
  }
  
  .contact__container {
    height: 80vh;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }
  
  .contact__container__description{
    width: 95vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23%;
    min-height: 37%;
    position: relative;
    background: linear-gradient(45deg, #e6a336, #790974,  #6649b8);
    border-radius: 20em;
  }
  
  .contact__container__description--img{
    height: 40vh;
    justify-content: center;
    margin-left: 20%;
  }
  
  .contact__container__description--emailPhoneLogos{
   // text-align: center;
    margin-top: 0.2em;
    font-size: 1.3em;
    line-height: 35px;
    padding-bottom: 18%;
    color: vars.$text-secondary;
  }
  
  .contact-icon{
    margin-right: 10px;
  }
  
  .right{
    margin-left: 42%;
  }
  
  .envelope{
    display: none;
  }
} 
  
/* -------------------------------------------------------------- */

  /* == TABLETS IPADS PORTRAIT MODE == */ 
  @media (min-width: 768px) and (max-width: 1024px){ 
  .contact { 
      //background-color: blue;  
      background: vars.$bg-primary;
      height: 100vh;
      color: #fff;
      overflow: hidden; 
      box-sizing: border-box;
  }
  
  .contact__container {
    height: 80vh;
    width: 65vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }
  

  
  .contact__container__description{
    width: 32vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    min-height: 37%;
    position: relative;
    background: linear-gradient(45deg, #e6a336, #790974,  #6649b8);
    border-radius: 20em;
  }
  
  .contact__container__description--img{
    height: 50vh;
    margin-left: 25%;
    margin-top: -40%;
   
  }
  
  .contact__container__description--emailPhoneLogos{
  //  margin-top: 0.2em;
    font-size: 1.3em;
    line-height: 35px;
    padding-top: 150%;
    color: vars.$text-secondary;
  }
  
  .contact-icon{
    margin-right: 10px;
  }
  
  .envelope{
    display: none;
  }
} 

/* -------------------------------------------------------------- */
  
  /* == LOW RESOLUTION TABLETS, IPADS == */ 
  @media (min-width: 481px) and (max-width: 767px) { 
    body { 
        background-color: yellow; 
    } 
} 
  
/* -------------------------------------------------------------- */

    /* == MOBILE DEVICES == */ 
  @media (max-width: 480px) { 
      body { 
          background-color: red; 
      } 
  } 
    
