@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: .2em;
  background-color: vars.$bg-secondary;
}

body ::-webkit-scrollbar {
  width: 0.25rem;
}

body ::-webkit-scrollbar-track {
  background-color:#1e1e24;
}

body ::-webkit-scrollbar-thumb {
  background-color: vars.$scrollbar-color;
}
