@use 'src/styles/vars' as vars;

 /* == TABLETS IPADS PORTRAIT MODE == */ 
  @media (min-width: 768px) and (max-width: 1024px){ 
  .portfolioWeb{
    height: 140vh;
    padding-top: 5%;
  }

  .pw__container{
    min-width: 768px;
    max-width: 1024px;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .pw__technologies--logos{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .pw__title--deco{
    width: 800px;
  }

  .pw__logo{
    flex: 1 0 210px;
    scroll-snap-align: start;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1rem;
  }

  .pw__logo--span{
    font-size: 50px;
  }
  
   // == PROJECTS

  .pw__projects{
   // height: 8%;
  }

  .card{
    height: 80%;
  }


  .hoverdiv--description{
    font-size: 90%;
  }

} 

.pw__projectsPhone{
display: none;
}
