@use 'src/styles/vars' as vars;

.portfolioWeb{
    background-color: vars.$bg-primary;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 45px;
    overflow: hidden; 
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
  }
