@use 'src/styles/vars' as vars;

  /* == LARGE SCREENS == */ 
  @media (min-width: 1281px) { 
    .portfolioWeb{
      padding-top: 3%;
      height: 120vh;
    }

    .pw__container{
      max-width: 1281px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      font-size: 20px;
    }

    .pw__technologies--logos{
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    
    
    .pw__logo{
      flex: 1 0 250px;
      margin-left: .5rem;
      scroll-snap-align: start;
      text-align: center;
      padding-bottom: 20px;
      font-size: 1rem;
    }
    
    .pw__logo--span{
      font-size: 50px;
    }
    
    
    // == PROJECTS

    .card{
      width: 300px;
      height: 200px;
    }
} 
