@use 'src/styles/vars' as vars;

     /* == MOBILE DEVICES == */ 
    @media (max-width: 480px) { 
      .portfolioWeb{
        background-color: rgb(207, 156, 156); 
        height: 470vh;
        padding-top: 40px;
      }
    
      .pw__container{
        max-width: 480px;
        height: 80vh;
        width: 45vh;
        margin-left: auto;
        margin-right: auto;
      }

      .pw__container__title{
        padding-bottom: 10px;
    }
        
      .pw__container__description{
          display: none;
      }
    
      .pw__technologies{
        padding: 30px;
        margin-top: 20px;
        margin-bottom: 50px;
        border-left: 5px dashed #6649b8;
        border-top: 1.5px solid #6649b8;
      }
      
      .pw__technologies--description{
        display: none;
      }
      
      .pw__technologies--logos{
        margin-top: 15px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        //overflow-x: scroll;
        padding: 1rem 0;
       // scroll-snap-type: x mandatory;
      }
    
    
      .pw__logo{
        flex: 1 0 90px;
        scroll-snap-align: start;
        text-align: center;
        padding-bottom: 30px;
        font-size: 0.8rem;
      }

      .pw__logo--span{
        font-size: 50px;
      }
      
       // == PROJECTS

      .pw__projects{
        display: none;
      }

      // DOESN'T SHOW
    
      .pw__projectsPhone{
       // height: 8%;
        z-index: 1;
        background: linear-gradient(45deg, #e6a336, #790974,  #6649b8);
        background-color: rgba(0,0,0,0.2);
        padding: 30px;
      
        border-radius: 20px;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
        box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
        transition: all 0.2s ease-in-out;
      }
    
      .card{
        height : 120px;
        width: 185px;
      }
    
      .hoverdiv--title{
        display: none;
      }

      .hoverdiv--description{
        font-size: 90%;
        opacity: 0;
      }

      .hoverdiv__container--links{
        display: flex;
        flex-direction: column;
      }

  } 
