@use 'src/styles/vars' as vars;

  /* == LAPTOPS & DESKTOPS == */ 
  @media (min-width: 1025px) and (max-width: 1280px){ 
    .portfolioWeb{
        padding-top: 5%;
        height: 130vh;
      }
  
      .pw__container{
        min-width: 1025px;
        max-width: 1280px;
        padding-left: 150px;
        padding-right: 100px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;      
      }
      
      .pw__technologies--logos{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
      }
      
      .pw__logo{
        flex: 1 0 250px;
        margin-left: .5rem;
        scroll-snap-align: start;
        text-align: center;
        padding-bottom: 20px;
        font-size: 1rem;
      }

      .pw__logo--span{
        font-size: 50px;
      }
  
      // == PROJECTS
      
      .pw__projects{
        height: 38%;
      }
      
      .card{
        width: 300px;
        height: 250px;
      }

      .hoverdiv--description{
        font-size: 90%;
      }
} 
