@use 'src/styles/vars' as vars;

 /* == MOBILE DEVICES == */ 
    @media (max-width: 480px) { 
      .whatIDo{
        height: 150vh;
      }
      .wid__title{
        padding-bottom: 0.2%;
      }
      
      .wid__container{
        max-width: 480px;
      }
    
      .wid__undertitle{
        display: none;
      }
    
    
      .wid__img{
        display: none;  
      }
    
      .wid__card{
        max-width: 90%;
      }
      
          .wid__card{
            .wid__card__undertitle{
                max-width: 50%;
    
            }
          }
      
          .wid__card__text {
            width: 10px;
            height: 10px;
            display: none;
          }

        .wid__card__title {
          color: #e6a336;
        }

        .wid__card__meta{
          width: 70%;
        }
              
          // container for button
          .wid__card__button{
            max-width: 65%;
          }
          
          .wid__button--single{
            max-width:100%;
            margin-left: 0px;
            width: 450px;
            height: 100%;
          }  
    }
