@use 'src/styles/vars' as vars;

.whatIDo {
  background-color: vars.$bg-primary;;
  margin: 2rem;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-top: 50px;
  margin-left: 5rem;
  position: relative;

  &__img {
      position: absolute;
      top: 0px;
      left: 0px;
      background-size: cover;
      background-position: center;
      transition: transform .2s;

  }&__card {
      padding: 1rem;
      background: vars.$text-secondary;
      position: relative;
      z-index: 1;

      display: flex;
      flex-direction: column;
      margin: 1rem auto;
      box-shadow: 0 3px 7px -1px rgba(#000, .1);
      margin-bottom: 1.6%;

      line-height: 1.4;
      border-radius: 5px;
      overflow: hidden;
      z-index: 0;
      width: 100em;
      height: 25em;

  }&__card--title {
      font-family: Poppins, sans-serif;
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
      color: vars.$bg-secondary;
      font-weight: bold;

  }&__card--underTitle {
      font-family: Poppins, sans-serif;
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: vars.$bg-primary;
      margin-top: 5px;

  }&__card--title {
      position: flex;
      margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
    &:before {
      content: "";
      position: absolute;
      height: 5px;
      width: 35px;
      top: -0.75rem;
      border-radius: 3px;  
} 

.whatIDo__container--title{
  color: vars.$text-secondary;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;

  position: relative;


  display: flex;
  flex-direction: column;
  margin: 1rem auto;

  line-height: 1.4;


  overflow: hidden;
  width: 100em;
  height: 5em;
}

.WhatIDo__underTitle {
  text-transform: none;
  //font-size: 16px;
}

.whatIDo__card--text {
  color: vars.$bg-primary;
  font-size: larger;
}

}}


.whatIDo__see-more{
  margin-top: 10px;
  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 20px;

  display: inline-block;
  position: relative;
  text-align: center;
  color: #00c7ec;
  border: 1px solid #00c7ec;
  border-radius: 5px;

  line-height: 3em;
  padding-left: 2em;
  padding-right: 2em;

  transition:(all 0.2s ease-in);

  &:hover {
    color: white;
    box-shadow: 0 0 30px 0;
    background-color: #00c7ec;
    transition:(all 0.2s ease-out);
  }
  &:before {
    animation:(shine 0.5s 0s linear);
    }
  }
  &:active {
    box-shadow: 0 0 0 0 transparent;
    transition:(box-shadow 0.2s ease-in);
  }
  }



.whatIDo__card--text {
  font-size: 25px;
}

