.pa__illustrations--container{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
  margin: -5rem; 
  margin-left: 15px;
}

.cell{
  margin: 5px;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  margin-bottom: 30px;
  border-radius: 20px;
  flex-basis: 300px;
}

.cell-1 {
  background: wheat;
  background-image: url("img_01.jpg");
  background-size: 20em;

  flex-basis: 50%;
}

.cell-2 {
  background-image: url("img_05.png");
  background-size: 20em;

  flex-basis: 20%;
}

.cell-3 {
  background-image: url("img_09.png");
  background-size: 20em;

  height: 500px;
  flex-basis: 26%;

}

.cell-4 {
  background-image: url("img_03.png");
  background-size: 12em;

  flex-basis: 40%;
  height: 300px;
}
.cell-5 {
  background-image: url("img_04.jpg");

  background-size: 18em;
  flex-basis: 50%;
}
.cell-6 {
  background-image: url("img_08.png");
  background-size: 20em;

  flex-basis: 60%;
  height: 300px;
}
.cell-7 {
  background-image: url("img_10.jpg");

  background-size: 7em;
  flex-basis: 20%;
}
.cell-8 {
  background-image: url("img_07.jpg");

  background-size: 10em;
  flex-basis: 36%;
  height: 270px;
}
.cell-9 {
  //background-image: url("img_02.png");
  background-image: url("img_06.png");

  background-size: 10em;
  flex-basis: 30%;
}
