@use 'src/styles/vars' as vars;


.portfolioArt{
  background-color: vars.$bg-primary;
  height: 100vh;
  padding-bottom: 45px;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}


.pa__container__title{
  text-transform: uppercase;
  color: vars.$text-secondary;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 30px;
}

.pa__title{
  color: vars.$text-secondary;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pa__title--deco{
  background: linear-gradient(45deg, #e6a336, #790974,  #6649b8);
  width: 1000px;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.pa__description{
  font-style: italic;
  color: vars.$text-primary;
  font-size: 1rem;
}

.pa__shows--container{
  margin-left: 5%;

  padding: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;

}

.pa__shows--box{
  width: 854px;
  margin: 40px 30px;
}

