.pa__tools--container{
  background: linear-gradient(45deg, #e6a336, #790974,  #6649b8);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);

  height: 70vh;
  width: 10vh;

  padding: 30px;

  border-radius: 20px;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;

 // position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: -9%;

  position: absolute;

}

.pa__tools--container--logo{
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;

  margin-bottom: 65%;
}


 /* == TABLETS IPADS PORTRAIT MODE == */ 
 @media (min-width: 768px) and (max-width: 1024px){ 
  .pa__tools--container{
    height: 10vh;
    width: 90vh;
  
    position: relative;
    display: flex;
    flex-direction: row;
  
    margin-left: 50px;
    margin-bottom: 30px;
  }
  
  .pa__tools--container--logo{
    height: 50px;
    width: 50px;
  
    display: flex;
    justify-content: center;
  
    margin-bottom: 0%;
    margin-right: 20px;
    margin-left: 20px;
  }
} 

     /* == MOBILE DEVICES == */ 
    @media (max-width: 480px) { 
      .pa__tools--container{
        display: none;
      }

  } 

